# Build outputs
build/
cmake/build/
*.exe
*.obj

# Temporary/dev files
*.log
*.tmp
*.bak

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled C++ files
*.o
*.obj
*.exe


# API inputs
Python/config.py
Python/25-Worlds-Dallas/config_interactive.py
cmake/*.txt

# Outputs 
*.json

# Except
!Python/Schemas/**/*.json
!Python/programs.json
