# Build outputs
build/
cmake/build/
*.exe
*.obj

# Temporary/dev files
*.log
*.tmp
*.bak

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled C++ files
*.o
*.obj
*.exe


# API inputs
*config*
cmake/*.txt

# Outputs 
*.json
*.yml

# Exceptions
# !Python/Schemas/**/*.json
!Python/programs.json
