# Build outputs
build/
cmake/build/
*.exe
*.obj

# Temporary/dev files
*.log
*.tmp
*.bak

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled C++ files
*.o
*.obj
*.exe


# API inputs
python/config.py
cmake/*.txt

# Outputs 
*.json

# Except
!Python/Schemas/**/*.json
!Python/2025-Worlds/*.json
!Python/programs.json
